.header{
    background-image: url("/images/banner/banner1.png");
    text-align: right;
    min-width: 808px;
    width: 100%;
}
 

.head-section{
    text-align: right;
    color: #151414;
    font-size: 45px;
    font-weight: 700px;
    padding-top: 200px;
    padding-left: 840px;
    padding-right: 230px;
}
.para-section{
    color: #444343;
    font-size: 15px;
    font-weight: 400px;
    padding-left: 870px;
    padding-top: 0px;
    padding-right: 230px;
    border-radius: 5px;
    

}
.btn-primary{
    width: 160px;
    height: 60px;
    background-color:#F15B22;
    font-size: 20px;
    font-weight: 600px;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 20px 25px;
    margin-right: 230px;
    margin-top: 10px;

}
/* failure related style */
.failure{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 130px;
}
.failure-item-title{
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    
}
.failure-img{
    height: 724px;
    width: 568px;
    display: flex;
    margin-top: 100px;
}
.failure-item-description{
    font-size:16px ;
    font-weight:400px ;
    color:#444343 ;
    margin-top: 25px;
}
.failure-item-list{
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    margin-top: 8px;
}
.background-circle{
    background-color: #F15B22;
    width: 528px;
    height: 528px;
    border-radius: 528px;
}
.failure-item{
    margin-top: 370px;
}
#my-plan-title{
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    text-align: center;
}
.my-plan-content{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}
.skill-title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #151414;
    margin: auto;
}
.skill-title-description{
    font-style: 25px;
    font-weight: 500;
    text-align: center;
    color: #737272;
    margin-top: 15px;
    margin: auto;
}